
*{
    margin:0px;
    padding: 0px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    padding:20px;
    margin: 0px 200px ;
    background-color: aquamarine;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    gap: 20px;
}

#content-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: bisque;
    margin: 0px 200px ;
    padding: 30px;
    border-radius: 30px;
    
}

.menu-content p{
    padding: 0px 170px;
}

img{
    border-radius: 20px;
}